<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="CONTENT-TYPE" CONTENT="text/html;
charset=windows-1252">
<TITLE>Modular Breadboard Evaluation Module</TITLE>
</HEAD>
<BODY LANG="fr-FR" DIR="LTR">
<P> This template is compatible with single ICs for the modular breadboard system. <BR>It features 2 PIN Input and 2 Pin Output for passthrough or conversion. Analog and Digital Interfaces are named according to the MBB standard.
</P>
<P><IMG SRC="brd.png" NAME="brd" ALIGN=BOTTOM WIDTH=680 HEIGHT=378
BORDER=0><BR><BR><BR><BR>
</P>
</BODY>
</HTML>